@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@import "tailwindcss";

@theme {
  /* новая */
  /* Primary */
  --color-primary: #947a5a;
  --color-primary-hover: #705a43;
  --color-primary-light: #e8ded0;
  --color-primary-background: #f7f5f1;

  /* Text */
  --color-text-primary: #29251f;
  --color-text-secondary: #71695f;

  /* Border */
  --color-border: #d8d0c5;

  /* ----------3blue-------- */

  /* --color-primary: #365a73;
  --color-primary-hover: #29475b;
  --color-primary-light: #dce8ef;
  --color-primary-background: #f3f7f9; */

  /* Text */
  /* --color-text-primary: #20282d;
  --color-text-secondary: #60717c; */

  /* Border */
  /* --color-border: #d5e0e6; */

  /* ----------4taupe-olive-------- */
  /* Primary */
  /* --color-primary: #747b68;
  --color-primary-hover: #59604f;
  --color-primary-light: #e1e4da;
  --color-primary-background: #f6f7f3; */

  /* Text */
  /* --color-text-primary: #262824;
  --color-text-secondary: #687066; */

  /* Border */
  /* --color-border: #d9ddd3; */
}

@layer base {
  body {
    font-family:
      "Inter",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      sans-serif;

    color: var(--text-primary);
    background-color: var(--bg-primary);
  }

  h1,
  h2,
  h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    
  }

  .font-body {
    font-family: "Manrope", sans-serif;
  }

  .font-display {
    font-family: "Space Grotesk", sans-serif;
  }

  .font-ui {
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .font-premium {
    font-family: "Satoshi", sans-serif;
  }

  .font-logo {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
  }
}



/* m{
  --breakpoint-xs: 500px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1200px;
} */


/* Breakpoint	Для чего
< 500px	           маленькие телефоны
  500px (xs)	     телефоны
  768px (sm)	     планшет / переход к desktop-навигации
  1024px (md)	     нормальный desktop
  1200px (lg)      большой desktop + максимальная ширина контента*/


  /* Я бы сделал так
<main className="px-4 sm:px-6 md:px-8 lg:px-16">

Получится:

< 640px → px-4
≥ 640px → px-6
≥ 768px → px-8
≥ 1024px → px-16

Если ты добавил свой xs = 500px, тогда:

<main className="px-4 xs:px-5 sm:px-6 md:px-8 lg:px-16">

Для твоего проекта я бы выбрал именно этот вариант — достаточно гибко и без лишних breakpoint'ов. */