@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    /* BRAND */
    --brand-pink: #e94c88;
    --brand-stone: #8b6f4e;
    --brand-stone2: #f96e5b;
    --brand-stone: #84934a;

    --bg-primary: #fbfbfb;
    --bg-secondary: #f4f4f4;

    --text-primary: #252525;
    --text-secondary: #333333;
    --text-muted: #6b7280;
  }
  body {
    font-family:
      "Inter",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      sans-serif;



    color: var(--text-primary);
    background-color: var(--bg-primary);
  }

  h1,h2,h3 {
    
  }

  .font-body {
    font-family: "Manrope", sans-serif;
  }

  .font-display {
    font-family: "Space Grotesk", sans-serif;
  }

  .font-ui {
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .font-premium {
    font-family: "Satoshi", sans-serif;
  }

  .font-logo {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
  }
}

/* 
#EA4C89 — яркий розово-малиновый (основной «брендовый» цвет Dribbble)

#444444 — тёмно-серый (часто для текста)

#8ABA56 — зелёный акцент

#FF8833 — оранжевый акцент

#00B6E3 — голубой акцент

#9BA5A8 — серо-голубой/нейтральный

#FBFBFB / #F4F4F4 — светлые почти белые цвета фона

#333333 / #252525 — очень тёмные оттенки для текста/фона */

/* https://brandpalettes.com/dribbble-web-site-colors/?utm_source=chatgpt.com */
